.search {
  display: flex;
  gap: 42px;
  /* flex-direction: row; */
  justify-content: center;
  min-height: 100vh;
  padding: 15px 10px 15px 10px;
  background-color: #e3e3e3;

}
.search_option {
  width: 20%;
  min-height: 100%;
  /* background-color: #fff; */

  /* padding: 20px; */
}
.search_option div {
  position: sticky;
  padding: 8px 10px;
  top: 80px;
  background-color: #fff;
  border-radius: 20px;
}
.search_product {
  width: 80%;
  height: 100%;
}
.search_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search_content {
  display: flex;
  background-color: #fff;
  /* width: 100%; */
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  text-decoration: none !important;
  /* transform: translateY(-20px); */
  /* z-index: 1; */
  margin: 20px 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 50px 0;
  border-radius: 20px;
}
.product-list {
  display: flex;
  justify-content: flex-start;
  /* justify-content: center; */
  translate: 45px 0;
  gap: 30px;
  flex-wrap: wrap;
  color: #333;
}

.pageNo {
  display: flex;
  justify-content: center;
  width: 100%;
}
