.cart-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;

  .cart {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70%;
    height: 900px;
    border-radius: 40px;
    padding: 60px;
    margin-bottom: 100px;
    gap: 50px;

    &_header {
      display: flex;
      justify-content: space-between;
    }
    .cart-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px;
      overflow-y: auto;
      text-align: center;

      &_empty {
        width: 100%;
        height: 100%;
        // object-fit: contain;
        overflow-y: auto;
      }
      &_img {
        width: 80%;
        height: 80%;
        object-fit: cover;
      }
    }

    .quantity {
      display: flex;
      flex-direction: row;
      gap: 2px;
      align-items: center;
    }

    .quantity button {
      width: 30px;
      height: 30px;
      background-color: #f56483;
      border-radius: 5px;
      font-size: 20px;
      color: #fff;
      border: solid 1px #cd2b4e;
    }

    .quantity button:active {
      background-color: #f8305b;
      box-shadow: 0 1px #b0b0b0;
      transform: translateY(1px);
    }

    .quantity input {
      width: 50px;
      height: 30px;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #cd2b4e;
    }

    .total {
      // position: sticky;
      border: 1px solid #000;
      padding: 20px;
      border-radius: 10px;
      div {
        display: flex;
        justify-content: space-between;
      }

      button {
        width: 100%;
        font-weight: 500;
        background-color: #ff99ac;
        color: #fff;
        border: none;
        border-radius: 15px;
        padding: 20px;
        margin-top: 20px;
      }
    }
  }
}

.cart-item {
  margin-bottom: 40px;

  &_heading {
    border: solid 0.3px #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex !important;
    width: 100%;
    // justify-content: space-between;
    align-items: center;

    button {
      height: 40px;
      padding: 10px 30px;
      background-color: #ff99ac;
      color: #fff;
      border: none;
      border-radius: 15px;
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 20px;
    }

    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;
    }
  }
  .shop-info {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  del {
    margin-left: 10px;
  }

  .radio-option {
    -webkit-appearance: none;
    // margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 1px solid gray;
  }

  .radio-option:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  .radio-option:checked::before {
    background-color: #f56483;
  }

  .radio-option:checked {
    border-color: #f8305b;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
