.profile-services {
  background: #464547;
  height: 100vh;
  .profile-avatar {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #9c999e;
    gap: 20px;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    cursor: pointer;
    &-icon {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #706f71;
      color: #fff;
      font-size: 25px;
    }
    &-text {
      font-size: 16px;
      line-height: 36px;
      font-weight: 500;
    }
  }
}
.profile-container {
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  .profile-wrapper {
    .profile-form {
      min-width: 600px;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }
    &--title {
      font-size: 45px;
      line-height: 60px;
      padding-bottom: 10px;
      border-bottom: 2px solid gray;
      margin-bottom: 40px;
    }
    &--btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 100%;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 6px;
        font-weight: 600;
        border: none;
        color: #fff;
        background-color: rgb(114, 230, 114);
      }
    }
    label {
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
    }
  }
}