.wrapper {
  padding: 0px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  + .wrapper {
    margin-top: 10px;
  }
}
.search-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
