.description-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 40px 50px;
}
.description-detail span {
  font-weight: 600;
  /* text-align: left; */
}
