.section-title{
    margin-top: 20px;
    padding: 20px 100px;

    .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #ececec;

        h2{
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 5px;
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    .content{
        padding: 20px 0;
        margin-top: 20px;
    }

}