/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

:root {
    --font-main: 'Josefin Sans', sans-serif;
    --color-background: #ffffff;
    --color-text: #000000;
    --color-icon-1: #070707;
    --color-info-1: #f7f7f7;
    --color-primary: #663b2d;
    --color-secondary: #d93d3d;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
html {
    font-size: 10px;
    font-family: var(--font-main);
}

body {
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
}

.alabatrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 50%;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

h1 {
    margin: 4rem 2rem 0 0rem;
    grid-column: 1/3;
}

.item-img img {
    border: none;
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 0.5rem;
    margin: 1rem 0;
}

.item-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.footer {
    margin-top: auto;
    width: 100%;
    padding: 2rem;
    background-color: var(--color-primary);
    color: var(--color-info-1);
    text-align: center;
    font-size: 3rem;
}
