.product-detail {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  margin-top: 90px;
  flex-direction: column;
  gap: 30px;
}

.detail {
  display: flex;
  width: 80%;
  height: 700px;
  background-color: #fff;
  border-radius: 14px;
  gap: 60px;
  padding: 40px 60px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25);
}

.images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.images_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px solid rgb(221, 221, 221);
}

.images_list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.images_img {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
}

.images img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.info-detail{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  /* height: 55px; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
}

.title:hover {
  /* overflow: visible; */
}

.rating {
  font-size: 16px;
}

.prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: rgb(234, 0, 0);
  background-color: #f2f1f1;
  padding: 10px 10px;
}

.prices_old {
  color: #707070;
  text-decoration: line-through;
}

.prices_sale {
  padding: 3px 6px;
  background-color: rgb(234, 0, 0);
  color: #fff;
}

.colors {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.chosen-color {
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 2px;
}

.color {
  width: 16px;
  height: 16px;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  padding: 3px;
}

.quantity {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
}

.quantity button {
  width: 30px;
  height: 30px;
  background-color: #f56483;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  border: solid 1px #cd2b4e;
}

.quantity button:active {
  background-color: #f8305b;
  box-shadow: 0 1px #b0b0b0;
  transform: translateY(1px);
}

.quantity input {
  width: 50px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #cd2b4e;
}

.add-cart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.cart-btn {
  height: 45px;
  font-weight: 600;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #ff0f43;
  font-size: 18px;
  color: #fff;
  background-color: #f56483;
}

.wish-btn {
  height: 45px;
  font-weight: 600;
  padding: 10px 14px;
  border-radius: 10px;
  border: 2px solid #707070;
  background-color: #fff;
  color: #3e3e3e;
}


.shop {
  margin-top: 20px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25);
  width: 100%;
  gap: 15px;
}

.avatar-chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.avatarr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.avatar_outline {
  border: 3px solid green;
  border-radius: 28px;
  padding: 2px;
}

.avatar_name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.avatar_name div {
  font-size: 12px;
}

.chat {
  height: 40px;
  display: flex;
  gap: 6px;
  align-items: center;
  border: none;
  font-size: 16px;
  padding: 4px 15px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  background-color: #f56483;
  border-radius: 10px;
}


.shop_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.shop_info-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #B4B4B4;
  height: 90px;
  width: 150px;

  font-size: 20px;
  font-weight: 700;
  color: #484848;
  text-align: center;
  border-radius: 15px;
}
.shop_info-detail1 {
  border: 5px solid #BCBCBC;
  background-color: #3e3e3e;
  color: #FFF;
}
.shop_info-detail span {
  font-size: 25px;
  font-weight: 800;

}

.description {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 80%;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.25);
}

.suggest-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 45px ;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.suggest-product_title {
  background-color: #fff;
  padding: 8px 14px;
  color: #222222;
}

button:active {
  box-shadow: 0 1px #b0b0b0;
  transform: translateY(1px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}